<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>JavaScriptLaunchBarEval.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.customct.LaunchBar.action.EvaluateJavaScript</string>
	<key>CFBundleName</key>
	<string>EvaluateJavaScript</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>ejs</string>
	<key>LBArgument</key>
	<string>String</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>String</string>
		<key>LBAuthor</key>
		<string>Richard Guay</string>
		<key>LBEmail</key>
		<string>raguay@customct.com</string>
		<key>LBSummary</key>
		<string>Takes a string input and evaluates it in the JavaScript interpreter.</string>
		<key>LBTwitter</key>
		<string>@CustomComputerT</string>
		<key>LBWebsiteURL</key>
		<string>customct.com</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT</string>
</dict>
</plist>
