<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>edit-validated-icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.customct.LaunchBar.action.QuickEditCopy</string>
	<key>CFBundleName</key>
	<string>Quick Edit Copy</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBArgument</key>
	<string>none</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>none</string>
		<key>LBAuthor</key>
		<string>Richard Guay</string>
		<key>LBEmail</key>
		<string>raguay@customct.com</string>
		<key>LBRequirements</key>
		<string>None</string>
		<key>LBResult</key>
		<string>none</string>
		<key>LBSummary</key>
		<string>This action copies the contents of the current program and paste it into the editor set as the Quick Edit editor with the "Quick Edit Set Editor" command.</string>
		<key>LBTwitter</key>
		<string>@CustomComputerT</string>
		<key>LBWebsite</key>
		<string>customct.com</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequirements</key>
	<string>None</string>
	<key>LBResult</key>
	<string>none</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBRunInBackground</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.10</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT</string>
</dict>
</plist>
