<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>TaskPaperAppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.customct.LaunchBar.action.TaskPaperAddToProject</string>
	<key>CFBundleName</key>
	<string>TaskPaper Add to Project</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>tpa</string>
	<key>LBArgument</key>
	<string></string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string></string>
		<key>LBAuthor</key>
		<string>Richard Guay</string>
		<key>LBEmail</key>
		<string>raguay@customct.com</string>
		<key>LBResult</key>
		<string>Adds a message to a project in TaskPaper</string>
		<key>LBSummary</key>
		<string>This allows for adding items to a particular project in a selected TaskPaper file.</string>
		<key>LBTwitter</key>
		<string>@CustomComputerT</string>
		<key>LBWebsiteURL</key>
		<string>http://customct.com</string>
	</dict>
	<key>LBMinimumLaunchBarVersion</key>
	<integer>6</integer>
	<key>LBRequiredApplication</key>
	<string>com.hogbaysoftware.TaskPaper3</string>
	<key>LBResult</key>
	<string>Adds a message to a project in TaskPaper</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>tp:addProject</string>
</dict>
</plist>
